{% extends "base.html" %}
{%block title%}The ISS | Location{% endblock%}

{%block content%} 
    <section class = 'location-map'>
        <h2 class = "header location-header" >I am over {{country}}!</h2>
            <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
            <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
            <iframe width="640" height="360" src="https://www.youtube.com/embed/86YLFOog4GM" title="YouTube video player" frameborder="0" allow="autoplay;" allowfullscreen></iframe>

            
            <div id='map' style='width: 550px; height: 250px;'></div>


            <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiZXNoYWFuZ3VwdGEiLCJhIjoiY2tqMnh5bGI0NWFyaTJ4cWpkZWlmOWk5OCJ9.1UoDNtuA2fw4dP3x_UqMvQ';
            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            //center :[77,12],
            center :[{{longitude}},{{latitude}}],
            zoom:2,
            });
            var marker = new mapboxgl.Marker()
            .setLngLat( [ {{longitude}},{{latitude}}])
            //.setLngLat( [77,12])
            .addTo(map);
            </script>
    </section> 
{% endblock %}